body {
    font-family: 'Nanum Gothic', sans-serif;
}

.customh1 {
    text-align:justify;
    font-size:60px;
    color:white;
}

.topic {
    border-style:solid;
    background:black;
    padding:200px;
}

.missuemfix {
    border-style:solid;
    background:lightblue;
    padding:120px;
}

strong {
    animation-name:movingtext;
    animation-duration:5s;
    animation-iteration-count: infinite;
}

.context {
    border-style:solid;
    background:lightgreen;
    padding:120px;
}

.container-border{
    border-style:solid;
    margin-bottom:20px;
    background:white;
    border-color:white;
}

.container {
    padding:10px;
}

.apps {
    border-style:solid;
    background:orange;
    padding:120px;
}

.center{
    text-align:center;
    display:block;
}

.card {
    padding:10px;
    margin-left:100px;
}

.offcanvas-body , .offcanvas-header{
    background:black;
    color:white;
}

/*Animation*/
@keyframes movingtext{
    0%{
        color:red;
    }
    25%{
        color:yellow;
    }
    50%{
        color:green;
    }
    75%{
        color:yellow;
    }
    100%{
        color:red;
    }
}

/*A-frame*/

a-scene {
  height: 300px;
  width: 300px;
}

/*Responsive Web Design*/

@media (min-width: 768px) {
    .customh1 {
        font-size:100px;
    }
    .card {
        padding:5px;
        margin-left:150px;
    }
    
    .card-title , .card-text{
        font-size:10px;
    }
}

@media (min-width: 1200px) {
    .customh1 {
        font-size:200px;
    }
    .card {
        padding:10px;
        margin-left:100px;
    }
}