body {
    font-family: 'Nanum Gothic', sans-serif;
}

.customh1 {
    text-align:justify;
    font-size:60px;
    color:black;
}

/*credit to https://www.sliderrevolution.com/resources/css-animated-background/*/
.topic {
    border-style:solid;
    padding:50px;
    background:url(img/funny.gif);
    background-size: cover;
}

.footer {
    border-style:solid;
    padding:50px;
    background:#C5C5C5;
    text-align:center;
}

.context {
    text-align:center;
}

.missuemfix {
    border-style:solid;
    background:lightblue;
    text-align:center;
}

.missuemfix2 {
    border-style:solid;
    background:white;
    text-align:center;
}

.navbar-collapse {
    flex-grow:0;!important
    text-align:center;
    margin:auto;
}

strong {
    animation-name:movingtext;
    animation-duration:5s;
    animation-iteration-count: infinite;
}

.context {
    border-style:solid;
    background:linear-gradient(-90deg, #FF5733, #FFBD33, #DBFF33, #75FF33, #33FF57, #33FFBD);
    background-size: 400% 400%;
    animation:gradient 20s ease infinite;
}

.container-border{
    border-style:solid;
    margin-bottom:20px;
    background:linear-gradient(-90deg, #000000, #474747);
    background-size: 400% 400%;
    animation:conborder 5s ease infinite;
    border-color:white;
}

.atext {
    color:#00e016;
}

.container {
    padding:10px;
}

.apps {
    border-style:solid;
    background:orange;
}

.apps2 {
    border-style:solid;
    background:white;
    padding:20px;
}

.center{
    text-align:center;
    display:block;
}

.card {
    padding:10px;
    margin-left:30px;
}

.offcanvas-body , .offcanvas-header{
    background:black;
    color:white;
}

.whatif {
    font-size:20px;
    text-align:center;
}

.bodyclass {
    font-size:15px;
}


/*Animation-----------------------------------------------------*/
@keyframes movingtext{
    0%{
        color:red;
    }
    25%{
        color:yellow;
    }
    50%{
        color:green;
    }
    75%{
        color:yellow;
    }
    100%{
        color:red;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes conborder {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/*A-frame-------------------------------------------------------*/

a-scene {
  height: 300px;
  width: 300px;
}

/*Responsive Web Design ----------------------------------------*/

@media (min-width: 768px) {
    .customh1 {
        font-size:100px;
    }
    
    .container-border{
        font-size:20px;
    }
 
    .whatif {
        font-size:20px;
    }  
    
    .topic {
        padding:150px;
    }
    
    .card {
        margin-left:10px;
    }
}

@media (min-width: 1200px) {
    .customh1 {
        font-size:200px;
    }
    
    .container-border{
        font-size:25px;
    }
    
    .whatif {
        font-size:25px;
    }
    
    .bodyclass {
        font-size:20px;
    }
    
    .context{
        padding:120px;
        text-align:left;
    }
    
    .missuemfix {
        padding:120px;
    }
    
    .topic {
        padding:200px;
    }
    
    .apps{
        padding:120px;
    }
    
    .navbar-brand{
        position: absolute;
    }
    
    .card {
        margin-left:100px;
    }
}